rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Function to check if the user is an admin
     function isAdmin() {
      return request.auth != null && 
        exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    // Match all documents in all collections
    match /{document=**} {
      // Only allow read and write if the user is an admin
      allow read, write: if isAdmin();
    }
  }
}